@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;600&display=swap");

@font-face {
    font-family: "Genshin";
    src: url(/fonts/zh-cn.ttf);
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    position: relative;
    min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    color: white;
    line-height: 175%;
    display: flex;
    flex-direction: column;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    margin: 0;
    min-height: 100vh;
}

img.header-image {
    width: 50%;
}

@media screen and (max-width: 1000px) {
    img.header-image {
        width: 95%;
    }
}

p {
    font-size: 120%;
}

a {
    color: #33ddff;
    text-decoration: none;
}

b {
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Genshin", serif;
}

table,
tr,
td {
    border: none;
}

td {
    vertical-align: middle;
    margin: 0;
    padding: 0.5em;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
}

input {
    padding: 0.5em;
    background-color: #fff3;
    backdrop-filter: blur(3px);
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 20px;
}

::placeholder {
    color: #ffffffaa;
}

textarea {
    padding: 0.5em;
    background-color: #fff3;
    backdrop-filter: blur(3px);
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
}

button {
    border: none;
    outline: none;
    background-color: #3cc;
    border-radius: 5px;
    padding: 0.5em 2em;
    font-family: "Genshin", serif;
}

.alert {
    padding: 0.5em 2em;
    border-radius: 5px;
    margin: 1em 0;
}

.error {
    background-color: #f006;
}

.success {
    background-color: #0f06;
}

.noselect {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

tr:nth-child(even) {
    background-color: #fff1;
}
